mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 195px;
}

.sidenav-content-class{
  padding: 10px;
}

a {
  margin-left: 10px;
}

a:hover {
  color: lightcoral;
}

.progress {
  margin: 0 10px;
}