/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.card-app {
  border-radius: 4px;
  margin: 24px 0;
  border: 1px solid hsla(0, 0%, 100%, .2);
}

.sanck-bar-success {
  background-color: green;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.sanck-bar-danger {
  background-color: crimson;
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.snack-bar-warning {
  background-color: peru;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.snack-bar-info {
  background-color: lightskyblue;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(74, 74, 74, 0.8);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}